<ion-view view-title="Create">
  <ion-content>
    <div class="list">
      <form ng-submit="createReceipt()">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Vendor</span>
          <input type="text" placeholder="John" ng-model="newReceipt.vendor">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Cost</span>
          <input type="text" placeholder="Suhr" ng-model="newReceipt.cost">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Category
          </div>
          <select ng-model="newReceipt.category">
            <option selected>Food</option>
            <option>Electricity</option>
            <option>Shopping</option>
            <option>Rent</option>
            <option>Others</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Description</span>
          <input type="text" placeholder="john" ng-model="newReceipt.description">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Date</span>
          <input type="date" name="bday" ng-model="newReceipt.date">
        </label>
        <input type="submit" class="button button-block button-dark">
        </input>
      </form>
    </div>
  </ion-content>
</ion-view>
